<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre | Ingresar</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/965e5e405e.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="home__header">
        <div class=" home__header--encabezado">
            <div class="home__header--logo">
                <a href="/"><img height="82" src="/img/logo-mercado-liebre.svg" alt=""></a>
            </div>
            <div class="home__header--barra">
                <input type="text" placeholder="Buscar Productos">
                <i class="fa-solid fa-magnifying-glass"></i>

            </div>
        </div>
        <div class="home__header--dollar">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="home__header--navegacion">
            <ul class="home__header--lista1">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="home__header--lista2">
                <li><a href="/register">Creá tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li><a href="">Mis Compras</a><i class="fa-solid fa-cart-shopping"></i></li>
            </ul>

        </nav>
        <div class="home__header--burger--menu">
            <button><i class="fa-solid fa-bars"></i></button>
        </div>
    </header>
    <main class="login__menu">
        <section class="login--section">
            <form action="" class="form">
                <div class="login--ingresa">
                    <input class="form__input" type="email" id="email" name="email" placeholder="Nombre de usuario ">
                    <div class="login--contrasenia">
                        <input class="form__input" type="password" id="password" name="password" placeholder="Contraseña">
                    </div>
                    <div class="button__enviar">
                        <a  href="/" class="button--enviar">Enviar</a>

                    </div>
                    
                </div>
            </form>
        </section>
    </main>
    <footer class="home__footer">
        <section>
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>