.home__header{
    background-color: var(--Amarillo);
    width: 100%;

}
.home__header--logo{
    height: 100%;
}
.home__header--boton{
    padding-left: 38px;
}  

.home__header--navegacion p{
    font-size: 12px;
    text-align: center;
}
.home__header--navegacion a{
    color: black;
}
.home__header--lista1{
    text-decoration: none;
    padding: 10px 0 0 0;
}
.home__header--lista2{
    padding: 20px 0 10px 0;
    text-decoration: none;
    
}
.home__header--burger--menu {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    
}
.home__header--burger--menu button{
    background-color:var(--Celeste) ;
    margin-bottom:  5px;
}

.home__menu--banner img{
    display:block;
    width: 100%;
    padding-bottom: 10px;
}
.home__menu h3{
    font-size: 24px;
    text-align: center;
}
.home__menu--article{
    padding: 32px 0;


}
.home__menu--article img{
    width: 50%;
    height: 50%;
   margin-left: 83px;
}
.home__menu--article h4{
    text-align: center;
}


.home__menu--productos--precio{
    font-size: 18px;
    

}
.home__menu--productos--descuento{
    font-size: 16px;

}
.home__footer:first-child{
    padding-top: 40px;
}
.home__footer{
    text-align: center;
}
.home__footer i{
   color: var(--Celeste);
   font-size: 24px;
   margin-bottom: 15px;
}
.home__footer p{
    font-size: 16px;
    margin-bottom: 30px;
}
.home__footer h3{
    padding-bottom: 15px;
}
